@import "src/assets/_variables";
@import "bootstrap/scss/bootstrap";
@import "src/assets/_bootswatch";

body{
    //background-size: cover;
    //background-repeat: no-repeat;
    height: 100vh;
    //margin: 0 auto;
    overflow: auto;
}

.btn{
    width: 9.5vw;
}